@namespace Tf.UI
@inherits Panel
@using Sandbox.Services

<root class="pk">
  @{
    string ident = Common.GetTimeStatIdent(Scene.Title, Timer.LastOrCurrentLoop);
    List<GauntletLeaderboardEntry> entries = AroundPlayer ?
    LeaderboardManager.Instance.GetAroundPlayer(ident, Game.SteamId).Result
    : LeaderboardManager.Instance.GetTopTen(ident).Result;

    int lastRank = 0;
  }

  <div class="leaderboard-header">
    @if (AroundPlayer)
    {
      <h1 class="leaderboard-title">Around You</h1>
    }
    else
    {
      <h1 class="leaderboard-title">Top Players</h1>
    }

    <h2 class=loop-label>@Timer.LastOrCurrentLoop.ToOrdinal() Loop</h2>
  </div>

  <div class="entry-container">
    @foreach (var entry in entries)
    {
      <div class="entry @(entry.Me ? "me" : "") @(entry.Rank == 1 ? "top" : "")">
        <p class="entry-rank">@entry.Rank</p>
        <img src="avatar:@entry.SteamId" />
        <p class="entry-name">@entry.DisplayName</p>
        <p class="entry-time">@(Common.TimeToString(entry.TimeTicks, Scene.FixedDelta, true))</p>
      </div>

      lastRank = entry.Rank;
    }

    @for (int i = lastRank; i < 10; i++)
    {
      <div class="entry">
        <p class="entry-rank">@(i + 1)</p>
      </div>
    }
  </div>
</root>

@code {
  public bool AroundPlayer { get; set; }
  public Timer Timer { get; set; }
  protected override int BuildHash() => System.HashCode.Combine(Timer.InStartZone);
}