@inherits PanelComponent
@namespace Gauntlet.UI
@using System.Threading.Tasks
@using Gauntlet.Timer

<root class="pk backdrop-world">
	<section class="data-container">
		<LoopRowPanel Timer="@Timer"/>
		<TimeRowPanel Timer="@Timer"/>
		<TopSpeedRowPanel Timer="@Timer"/>
	</section>
	<section class="leaderboard-container">
		<LeaderboardPanel Timer="@Timer" AroundPlayer="@true" @ref=" LeaderboardPanel"/>
	</section>
</root>

@code
{
	private Timer Timer { get; set; }
	private LeaderboardPanel LeaderboardPanel { get; set; }

	protected override void OnStart()
	{
		base.OnStart();
		if ( Scene.Components.TryGet<Timer>( out Timer timer, FindMode.EnabledInSelfAndChildren ) )
		{
			Timer = timer;
		}
		else
		{
			Log.Error( "Timer not found" );
		}

		LeaderboardManager.Instance.OnLeaderboardRefresh += OnLeaderboardRefresh;
	}

	private async void OnLeaderboardRefresh()
	{
		// We need to be on the main thread to update the UI
		await GameTask.MainThread();

		LeaderboardPanel?.StateHasChanged();
	}
}
